<% all_status = IssueStatus.all %>

<div>
  <% if all_status.any? %>

    <%= form_for(:notifications, {:as => :notifications,
                          # :remote => true,
                          :url => update_status_notifications_per_project_path,
                          :method => :put,
                          :html => { :id => "status_form" }} ) do |f| %>
      <table class="list status">
        <thead>
          <tr>
            <th></th>
            <th style="text-align: left;"><%= l(:label_issue_status) %></th>
            <th><%= l(:field_mail) %></th>
          </tr>
        </thead>
        <tbody>
        <% all_status.each do |status| %>
          <tr id="status-<%= status.id %>" class="<%= cycle 'odd', 'even' %> status">
            <td class="checkboxes" style="text-align: left;">
              <%= check_box_tag 'notifications[status_ids][]', status.id, @project.unregistered_watchers_notifications.map(&:issue_status_id).include?(status.id) %>
            </td>
            <td class="<%= status.name.downcase %>" style="text-align: left;max-width: 200px;"><%= status.name %></td>
            <td class="emails">
              <%= text_area_tag 'notifications[emails]['+status.id.to_s+']', @project.unregistered_watchers_notifications.select{ |notif| notif[:issue_status_id] == status.id}.first.try(:email_body), rows: 5, cols: 150 %>
            </td>
          </tr>
        <% end; reset_cycle %>
        </tbody>
      </table>

      <%= f.hidden_field :project_id, :value => @project.id %>
      <%= f.submit %>
    <% end %>

  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>
