<% all_status = IssueStatus.order(:position) %>
<div>
  <% if all_status.any? %>

    <%= form_for(:notifications, {:as => :notifications,
                          # :remote => true,
                          :url => update_status_notifications_per_project_path,
                          :method => :put,
                          :html => { :id => "status_form" }} ) do |f| %>
      <table class="list status">
        <thead>
          <tr>
            <th></th>
            <th style="text-align: left;"><%= l(:label_issue_status) %></th>
            <th><%= l(:field_message) %></th>
          </tr>
        </thead>
        <tbody>
        <% all_status.each do |status| %>

          <tr id="status-<%= status.id %>" class="<%= cycle 'odd', 'even' %> status">
            <td class="checkboxes" style="text-align: left;">
              <%= check_box_tag 'notifications[status_ids][]',
                                status.id,
                                @project.unregistered_watchers_notifications.map(&:issue_status_id).include?(status.id),
                                id: "notifications_status_ids_#{status.id}"
              %>
            </td>
            <td class="<%= status.name.try(:downcase) %>" style="text-align: left;max-width: 200px;">
              <%= label_tag "notifications_status_ids_#{status.id}", status.name %>
            </td>
            <td class="emails" style="text-align: left;">
              <% if @project.unregistered_watchers_notifications.select{ |notif| notif[:issue_status_id] == status.id}.first.try(:email_body).present?
                   current_text = @project.unregistered_watchers_notifications.select{ |notif| notif[:issue_status_id] == status.id}.first.try(:email_body)
                 else
                   current_text = Setting['plugin_redmine_unregistered_watchers']['status'].blank? ? "" : Setting['plugin_redmine_unregistered_watchers']['status'][status.id.to_s]
                 end %>
              <%= text_area_tag 'notifications[emails]['+status.id.to_s+']', current_text, rows: 5, cols: 150 %>
            </td>
          </tr>
        <% end; reset_cycle %>
        </tbody>
      </table>

      <%= f.hidden_field :project_id, :value => @project.id %>
      <%= f.submit l(:save) %>
    <% end %>

  <% else %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% end %>
</div>
